<a href="#" data-test="star-test" onclick={{action "click"}} class="btn btn-info btn-lg  {{starred}}">
	{{#if @starred}}
    	<span data-test="starred-email" class="glyphicon glyphicon-star"></span> Star
    {{else}}
    	<span data-test="unstarred-email" class="glyphicon glyphicon-star-empty"></span> Star
    {{/if}}
</a>