<a href="#" onclick={{action "click"}} class="btn btn-info btn-lg">
	{{#if @starred}}
    	<span class="glyphicon glyphicon-star"></span> Star
    {{else}}
    	<span class="glyphicon glyphicon-star-empty"></span> Star
    {{/if}}
</a>