<div id="nav">
	{{#link-to "create"}}
		<a href="#" data-test="email-create" class="btn btn-info btn-sm">
		    <span class="glyphicon glyphicon-envelope"></span> Compose
		</a>
	{{/link-to}}
	<nav>
		{{#link-to "index"}}
			Inbox
		{{/link-to}}
		<br>
		{{#link-to "sent"}}
			Sent
		{{/link-to}}
		<br>
		{{#link-to "trash"}}
			Trash
		{{/link-to}}
	</nav>
</div>
{{outlet}}